body {
    margin: 0;
    padding: 0;
}

.header {
    background: white;
    border-bottom: 1px solid lightgrey;
}

.container {

    width: 980px;
    margin: auto;
}

.container-left {
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo {
    float: left;
    margin-right: 5px;
}

.logo img {
    display: block;
}

.css-typing h1 {
    border-right: .15em solid black;
    font-family: "Courier";
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
  }
  .css-typing h1:nth-child(1) {
    width: 10em;
    -webkit-animation: type 2s steps(40, end);
    animation: type 2s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  .css-typing h1:nth-child(2) {
    width: 21em;
    opacity: 0;
    -webkit-animation: type2 2s steps(40, end);
    animation: type2 2s steps(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  .css-typing h1:nth-child(3) {
    width: 5.5em;
    opacity: 0;
    -webkit-animation: type3 3s steps(20, end), blink .5s step-end infinite alternate;
    animation: type3 4s steps(20, end), blink .5s step-end infinite alternate;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  

  
  @keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid black;
    }
    100% {
      border: none;
    }
  }
  
  @-webkit-keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid black;
    }
    100% {
      border: none;
    }
  }
  
  @keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid black;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @-webkit-keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid black;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @-webkit-keyframes blink {
    50% {
      border-color: tranparent;
    }
  }

.menu {
    float: left;
}

.menu-item {
    float: left;
    /* margin-right: 10px; */
    padding: 8px 10px;

}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.About h1 {
    font-size: 30px;
    color: grey;
    text-align: center;
}

.About p {
    padding-left: 200px;
    padding-right: 200px;
}